/*Document Alignments*/

/*html, body {
    height: 100%;
    margin: 0;
    place-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh;      
    flex-direction: column;  
}*/

html, body { /*Luka globale Regeln*/	
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    height: auto;
    box-sizing: border-box;
}

.profile-content{ /*Luka*/
    display: flex;
    justify-content: center;
    align-items: center;       
    flex-direction: row;
    width: 100%;
    gap: 40px;

}

.profile-info{ /*Luka*/
    border: 0.5px solid gray;  
    padding: 20px;
    padding-top: 5px;
    text-align:left;
    width: auto;
    height: 400px;
    overflow-y: auto;
}

.dashed { /*Luka*/
    border: transparent;
    border-bottom: dashed 1px #000000;
    background-color: #ffffff;
    margin: 5px 10px 5px 10px;
}

.friends-list{ /*Luka*/
    border: 0.5px solid gray;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    padding-top: 5px;
    text-align:left;
    width: auto;
}

.friends-list li{ /*Luka*/
    list-style-type: none;
    padding: 10px;
    border-bottom: none;
}

.notification { /*Luka*/
    float: right;
    min-width: 1.25rem;
    width: auto;
    text-align: center;
    background-color: #436cdf;
    color: white;
}

.picture { /*Luka*/
    width: 400px;
    height: 400px;
}

.add-form { /*Luka*/
    margin: 5px 10px 5px 10px;
}

a:link { /*Luka*/
    color: green;
    background-color: transparent;
    text-decoration: none;
}

a:hover { /*Luka*/
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

button { /*Julia*/
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff;
    padding: 10px 15px;
}

.grey { /*Luka*/
    background-color: #a9a9a9;
}

.blue { /*Luka*/
    background-color: #2c71f3;
}

input[type="text"]{ /*Luka*/
    padding-left: 20px;
    font-size: 18px;
    padding: 5px 10px;
    width: 80%;
}

.add-form button { /*Luka*/
    width: 15%;
}


  